src/projects/example-projectname/flows.json
[
    {
        "id": "e59d719bcd361ba8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3ea7f7c7aa99d5d",
        "type": "group",
        "z": "e59d719bcd361ba8",
        "name": "",
        "style": {
            "stroke": "none",
            "fill": "#92d04f",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "a889f0e173ca191e",
            "2264955b2884e51e",
            "d1907f1bde888391",
            "8af71892269d6087"
        ],
        "x": 14,
        "y": 79,
        "w": 352,
        "h": 242
    },
    {
        "id": "1d4f9670c7db20f2",
        "type": "group",
        "z": "e59d719bcd361ba8",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "stroke": "none"
        },
        "nodes": [
            "de2d46c848993704",
            "d25cd57ccf7532d6"
        ],
        "x": 14,
        "y": 339,
        "w": 232,
        "h": 142
    },
    {
        "id": "b7879eac727d0f32",
        "type": "group",
        "z": "e59d719bcd361ba8",
        "name": "",
        "style": {
            "stroke": "none",
            "fill": "#a4a4a4",
            "label": true
        },
        "nodes": [
            "3090e29df5e1cb24",
            "3b2bd2029064b29c",
            "9ae06d28a17caeb6",
            "0ff3b229d1df6608",
            "2344e63cb9bd21d3",
            "12c529e29a3bc3bb",
            "0270341d3de33b63",
            "8824becb0bc95691",
            "fa8cd1958de2d3f5",
            "448dc34d8aa8d057"
        ],
        "x": 374,
        "y": 59,
        "w": 393.42858123779297,
        "h": 422
    },
    {
        "id": "6a97e3205d596f19",
        "type": "group",
        "z": "e59d719bcd361ba8",
        "name": "",
        "style": {
            "stroke": "none",
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "c02874ede6d876e6",
            "85381d9de524e0b3",
            "8efd5752875ea60d"
        ],
        "x": 1134,
        "y": 79,
        "w": 518,
        "h": 288
    },
    {
        "id": "cf2bc87553d19cde",
        "type": "group",
        "z": "e59d719bcd361ba8",
        "name": "",
        "style": {
            "stroke": "none",
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "3211618f6b787be9",
            "b5636e65d908f3ea",
            "9d7ac03fef8b7ff5",
            "49323eae60619121",
            "5507a1e1d412b7bb",
            "11e5debda79b5e67"
        ],
        "x": 1134,
        "y": 499,
        "w": 518,
        "h": 568
    },
    {
        "id": "8efd5752875ea60d",
        "type": "group",
        "z": "e59d719bcd361ba8",
        "g": "6a97e3205d596f19",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#7fb7df",
            "label": true
        },
        "nodes": [
            "100559405bf4e57a",
            "4e64e3db9f523ca6",
            "b5c7e1a4659bbb98"
        ],
        "x": 1354,
        "y": 159,
        "w": 272,
        "h": 182
    },
    {
        "id": "9d7ac03fef8b7ff5",
        "type": "group",
        "z": "e59d719bcd361ba8",
        "g": "cf2bc87553d19cde",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#7fb7df",
            "label": true
        },
        "nodes": [
            "0ef2fb7c043b7079",
            "c3b1aa81ed4582d4",
            "18a27b9233a8e852"
        ],
        "x": 1374,
        "y": 619,
        "w": 252,
        "h": 182
    },
    {
        "id": "49323eae60619121",
        "type": "group",
        "z": "e59d719bcd361ba8",
        "g": "cf2bc87553d19cde",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#7fb7df",
            "label": true
        },
        "nodes": [
            "eb2773efb080ebbd",
            "1f0cce608f385d67"
        ],
        "x": 1374,
        "y": 799,
        "w": 252,
        "h": 122
    },
    {
        "id": "5507a1e1d412b7bb",
        "type": "group",
        "z": "e59d719bcd361ba8",
        "g": "cf2bc87553d19cde",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#7fb7df",
            "label": true
        },
        "nodes": [
            "ae6034c89dc4cbfc",
            "53858a6c0f673dd1"
        ],
        "x": 1374,
        "y": 919,
        "w": 252,
        "h": 122
    },
    {
        "id": "44f6c6cb5b54549c",
        "type": "group",
        "z": "e59d719bcd361ba8",
        "name": "",
        "style": {
            "stroke": "none",
            "fill": "#a4a4a4",
            "label": true
        },
        "nodes": [
            "9ea1a69ed019b185",
            "b4fd761c085fe4ae",
            "5f264a6471b8d201",
            "e3bd7c3c813b8a93",
            "116b04c56cd8c0f3",
            "5905896cf1ab15a5",
            "6552f34d8aad4abf",
            "c7a4d10dad5b761b",
            "f9f678aab366ede3",
            "21c718ddfed03c1a"
        ],
        "x": 774,
        "y": 59,
        "w": 350.57141876220703,
        "h": 422
    },
    {
        "id": "3090e29df5e1cb24",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "b7879eac727d0f32",
        "name": "senML 2 STR",
        "func": "p = msg.payload;\n\nID  = p[0];\nBat = p[1];\nAcx = p[2];\nAcy = p[3];\nAcz = p[4];\nLat = p[5];\nLon = p[6];\n\nvar D0 = {payload: ID};\nvar D1 = {payload: Bat};\nvar D2 = {payload: Acx};\nvar D3 = {payload: Acy};\nvar D4 = {payload: Acz};\nvar D5 = {payload: Lat};\nvar D6 = {payload: Lon};\n\nreturn [D0, D1, D2, D3, D4, D5, D6];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "3b2bd2029064b29c"
            ],
            [
                "9ae06d28a17caeb6"
            ],
            [
                "0ff3b229d1df6608"
            ],
            [
                "2344e63cb9bd21d3"
            ],
            [
                "12c529e29a3bc3bb"
            ],
            [
                "0270341d3de33b63"
            ],
            [
                "8824becb0bc95691"
            ]
        ]
    },
    {
        "id": "a889f0e173ca191e",
        "type": "http in",
        "z": "e59d719bcd361ba8",
        "g": "b3ea7f7c7aa99d5d",
        "name": "KPN ",
        "url": "/kpn",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "2264955b2884e51e",
                "3090e29df5e1cb24",
                "d1907f1bde888391"
            ]
        ]
    },
    {
        "id": "2264955b2884e51e",
        "type": "http response",
        "z": "e59d719bcd361ba8",
        "g": "b3ea7f7c7aa99d5d",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 240,
        "y": 220,
        "wires": []
    },
    {
        "id": "d1907f1bde888391",
        "type": "debug",
        "z": "e59d719bcd361ba8",
        "g": "b3ea7f7c7aa99d5d",
        "name": "Check Incomming",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 180,
        "wires": []
    },
    {
        "id": "3b2bd2029064b29c",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "b7879eac727d0f32",
        "name": "ID STR",
        "func": "var test = msg.payload;\n\nmsg.payload = JSON.stringify(test);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "b4fd761c085fe4ae"
            ]
        ]
    },
    {
        "id": "9ae06d28a17caeb6",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "b7879eac727d0f32",
        "name": "Battery STR",
        "func": "var test = msg.payload;\n\nmsg.payload = JSON.stringify(test);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 200,
        "wires": [
            [
                "9ea1a69ed019b185"
            ]
        ]
    },
    {
        "id": "0ff3b229d1df6608",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "b7879eac727d0f32",
        "name": "AccelX STR",
        "func": "var test = msg.payload;\n\nmsg.payload = JSON.stringify(test);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "5f264a6471b8d201"
            ]
        ]
    },
    {
        "id": "2344e63cb9bd21d3",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "b7879eac727d0f32",
        "name": "AccelY STR",
        "func": "var test = msg.payload;\n\nmsg.payload = JSON.stringify(test);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 671.428581237793,
        "y": 280,
        "wires": [
            [
                "116b04c56cd8c0f3"
            ]
        ]
    },
    {
        "id": "12c529e29a3bc3bb",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "b7879eac727d0f32",
        "name": "AccelZ STR",
        "func": "var test = msg.payload;\n\nmsg.payload = JSON.stringify(test);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 671.428581237793,
        "y": 320,
        "wires": [
            [
                "5905896cf1ab15a5"
            ]
        ]
    },
    {
        "id": "0270341d3de33b63",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "b7879eac727d0f32",
        "name": "Lat STR",
        "func": "var test = msg.payload;\n\nmsg.payload = JSON.stringify(test);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 661.428581237793,
        "y": 360,
        "wires": [
            [
                "6552f34d8aad4abf"
            ]
        ]
    },
    {
        "id": "8824becb0bc95691",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "b7879eac727d0f32",
        "name": "Lon STR",
        "func": "var test = msg.payload;\n\nmsg.payload = JSON.stringify(test);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 661.428581237793,
        "y": 400,
        "wires": [
            [
                "c7a4d10dad5b761b"
            ]
        ]
    },
    {
        "id": "fa8cd1958de2d3f5",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "b7879eac727d0f32",
        "name": "Convert STR",
        "func": "var test = msg.payload;\n\nmsg.payload = JSON.stringify(test);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 671.428581237793,
        "y": 440,
        "wires": [
            [
                "f9f678aab366ede3"
            ]
        ]
    },
    {
        "id": "8af71892269d6087",
        "type": "comment",
        "z": "e59d719bcd361ba8",
        "g": "b3ea7f7c7aa99d5d",
        "name": "KPN Connectivity ",
        "info": "Recieve data from KPN Things and responde.",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "448dc34d8aa8d057",
        "type": "comment",
        "z": "e59d719bcd361ba8",
        "g": "b7879eac727d0f32",
        "name": "Data Managment",
        "info": "",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "de2d46c848993704",
        "type": "inject",
        "z": "e59d719bcd361ba8",
        "g": "1d4f9670c7db20f2",
        "name": "Test SenML Sim",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"bn\":\"urn:dev:DVNUUID:451346564647 365476325167263576 243:\",\"bt\":1655649139},{\"n\":\"battery\",\"u\":\"%\",\"vs\":\"86.0\"},{\"n\":\"accelerationX\",\"u\":\"m/s2\",\"v\":0.5},{\"n\":\"accelerationY\",\"u\":\"m/s2\",\"v\":9.03},{\"n\":\"accelerationZ\",\"u\":\"m/s2\",\"v\":2.66},{\"n\":\"latitude\",\"u\":\"lat\",\"v\":51.90725},{\"n\":\"longitude\",\"u\":\"lon\",\"v\":4.48934}]",
        "payloadType": "json",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "3090e29df5e1cb24"
            ]
        ]
    },
    {
        "id": "d25cd57ccf7532d6",
        "type": "comment",
        "z": "e59d719bcd361ba8",
        "g": "1d4f9670c7db20f2",
        "name": "Input data test ",
        "info": "A quick test to see incomming data on the end points.",
        "x": 110,
        "y": 380,
        "wires": []
    },
    {
        "id": "0ef2fb7c043b7079",
        "type": "ubidots_out",
        "z": "e59d719bcd361ba8",
        "g": "9d7ac03fef8b7ff5",
        "name": "Ubidots Node 1",
        "token": "Enter Your Ubidots Default Token here",
        "label_device": "raspberry-pi",
        "device_label": "Device00",
        "tier": "business",
        "tls_checkbox": true,
        "x": 1480,
        "y": 760,
        "wires": []
    },
    {
        "id": "3211618f6b787be9",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "cf2bc87553d19cde",
        "name": "Identify & Send",
        "func": "p = msg.payload\n\nID2 = p[0].DVNUUID;\nBc  = p[1].BatteryCent;\nAcx = p[2].AccelerationX;\nAcy = p[3].AccelerationY;\nAcz = p[4].AccelerationZ\nLat = p[5].Latitude\nLon = p[6].Longitude\n\nid = \"DVNUUID\"\nbc = \"Battery%\"\nax = \"AccelerationX\" \nay = \"AccelerationY\"\naz = \"AccelerationZ\"\nla = \"Latitude\"\nlo = \"Longitude\"\n\npo  = \"position\";\npla = \"lat\";\nplo = \"lng\";\n\nmsg.payload = JSON.stringify(p);\n\nif (msg.payload.includes (\"Enter The Device ID Here\"))\n{\n    msg.payload = {[bc]:Bc, [ax]:Acx, [ay]:Acy, [az]:Acz, [la]:Lat, [lo]:Lon, [po]:{[pla]:Lat, [plo]:Lon}};\n    return [msg,,];\n}\nelse if (msg.payload.includes (\"Enter The Device ID Here\"))//DVNUUID\n{\n    msg.payload = {[bc]:Bc, [ax]:Acx, [ay]:Acy, [az]:Acz, [la]:Lat, [lo]:Lon, [po]:{[pla]:Lat, [plo]:Lon}};\n    return [,msg,];\n}\nelse if (msg.payload.includes (\"Enter The Device ID Here\"))//DVNUUID\n{\n    msg.payload = {[bc]:Bc, [ax]:Acx, [ay]:Acy, [az]:Acz, [la]:Lat, [lo]:Lon, [po]:{[pla]:Lat, [plo]:Lon}};\n    return [,,msg];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 800,
        "wires": [
            [
                "0ef2fb7c043b7079",
                "c3b1aa81ed4582d4"
            ],
            [
                "eb2773efb080ebbd",
                "1f0cce608f385d67"
            ],
            [
                "ae6034c89dc4cbfc",
                "53858a6c0f673dd1"
            ]
        ]
    },
    {
        "id": "eb2773efb080ebbd",
        "type": "ubidots_out",
        "z": "e59d719bcd361ba8",
        "g": "49323eae60619121",
        "name": "Ubidots Node 2",
        "token": "Enter Your Ubidots Default Token here",
        "label_device": "raspberry-pi",
        "device_label": "device01",
        "tier": "business",
        "tls_checkbox": true,
        "x": 1480,
        "y": 880,
        "wires": []
    },
    {
        "id": "ae6034c89dc4cbfc",
        "type": "ubidots_out",
        "z": "e59d719bcd361ba8",
        "g": "5507a1e1d412b7bb",
        "name": "Ubidots Node 3",
        "token": "Enter Your Ubidots Default Token here",
        "label_device": "raspberry-pi",
        "device_label": "device02",
        "tier": "business",
        "tls_checkbox": true,
        "x": 1480,
        "y": 1000,
        "wires": []
    },
    {
        "id": "53858a6c0f673dd1",
        "type": "debug",
        "z": "e59d719bcd361ba8",
        "g": "5507a1e1d412b7bb",
        "name": "Check Outgoing 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 960,
        "wires": []
    },
    {
        "id": "1f0cce608f385d67",
        "type": "debug",
        "z": "e59d719bcd361ba8",
        "g": "49323eae60619121",
        "name": "Check Outgoing 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 840,
        "wires": []
    },
    {
        "id": "c3b1aa81ed4582d4",
        "type": "debug",
        "z": "e59d719bcd361ba8",
        "g": "9d7ac03fef8b7ff5",
        "name": "Check Outgoing 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 720,
        "wires": []
    },
    {
        "id": "c02874ede6d876e6",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "6a97e3205d596f19",
        "name": "Identify & Send",
        "func": "p = msg.payload\n\nID  = p[0].DVNUUID;\nBc  = p[1].BatteryCent;\nAcx = p[2].AccelerationX;\nAcy = p[3].AccelerationY;\nAcz = p[4].AccelerationZ\nLat = p[5].Latitude\nLon = p[6].Longitude\n\nd2 = \"DVNUUID\"\nbc = \"Battery%\"\nax = \"AccelerationX\"\nay = \"AccelerationY\"\naz = \"AccelerationZ\"\nla = \"Latitude\"\nlo = \"Longitude\"\n\npo  = \"position\";\npla = \"lat\";\nplo = \"lng\";\n\nmsg.payload = JSON.stringify(p);\nmsg.payload = {[bc]:Bc, [ax]:Acx, [ay]:Acy, [az]:Acz, [la]:Lat, [lo]:Lon, [po]:{[pla]:Lat, [plo]:Lon}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 280,
        "wires": [
            [
                "100559405bf4e57a",
                "4e64e3db9f523ca6"
            ]
        ]
    },
    {
        "id": "85381d9de524e0b3",
        "type": "comment",
        "z": "e59d719bcd361ba8",
        "g": "6a97e3205d596f19",
        "name": "Ubidots Device End Point",
        "info": "",
        "x": 1270,
        "y": 120,
        "wires": []
    },
    {
        "id": "b5636e65d908f3ea",
        "type": "comment",
        "z": "e59d719bcd361ba8",
        "g": "cf2bc87553d19cde",
        "name": "Use Multiple Ubidots Device End Points",
        "info": "",
        "x": 1310,
        "y": 580,
        "wires": []
    },
    {
        "id": "100559405bf4e57a",
        "type": "debug",
        "z": "e59d719bcd361ba8",
        "g": "8efd5752875ea60d",
        "name": "Check Outgoing",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 260,
        "wires": []
    },
    {
        "id": "4e64e3db9f523ca6",
        "type": "ubidots_out",
        "z": "e59d719bcd361ba8",
        "g": "8efd5752875ea60d",
        "name": "My first Ubidots End Point",
        "token": "Enter Your Ubidots Default Token here",
        "label_device": "raspberry-pi",
        "device_label": "MyFirst",
        "tier": "business",
        "tls_checkbox": true,
        "x": 1490,
        "y": 300,
        "wires": []
    },
    {
        "id": "18a27b9233a8e852",
        "type": "comment",
        "z": "e59d719bcd361ba8",
        "g": "9d7ac03fef8b7ff5",
        "name": "End Point Devices",
        "info": "",
        "x": 1490,
        "y": 660,
        "wires": []
    },
    {
        "id": "b5c7e1a4659bbb98",
        "type": "comment",
        "z": "e59d719bcd361ba8",
        "g": "8efd5752875ea60d",
        "name": "End Point Devices",
        "info": "",
        "x": 1470,
        "y": 200,
        "wires": []
    },
    {
        "id": "9ea1a69ed019b185",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "44f6c6cb5b54549c",
        "name": "Ubi Format",
        "func": "p = JSON.parse(msg.payload);\n\nif (msg.payload.includes (\"battery\"))\n{\n   var vs2 = \"BatteryCent\";\n   msg.payload = {[vs2]: parseFloat(p.vs)};\n   return msg;\n}\nelse\n{\n   return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "e3bd7c3c813b8a93"
            ]
        ]
    },
    {
        "id": "b4fd761c085fe4ae",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "44f6c6cb5b54549c",
        "name": "Ubi Format",
        "func": "p = JSON.parse(msg.payload);\n\nif(msg.payload.includes (\"DVNUUID\"))\n{\n   var vs2 = \"DVNUUID\";\n   msg.payload = {[vs2]: p.bn};\n   return msg;\n}\nelse\n{\n   return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 160,
        "wires": [
            [
                "e3bd7c3c813b8a93"
            ]
        ]
    },
    {
        "id": "5f264a6471b8d201",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "44f6c6cb5b54549c",
        "name": "Ubi Format",
        "func": "p = JSON.parse(msg.payload);\n\nif (msg.payload.includes (\"accelerationX\"))\n{\n   var vs2 = \"AccelerationX\";\n   msg.payload = {[vs2]: p.v};\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 240,
        "wires": [
            [
                "e3bd7c3c813b8a93"
            ]
        ]
    },
    {
        "id": "e3bd7c3c813b8a93",
        "type": "join",
        "z": "e59d719bcd361ba8",
        "g": "44f6c6cb5b54549c",
        "name": "Join",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "7",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1048.571418762207,
        "y": 280,
        "wires": [
            [
                "c02874ede6d876e6"
            ]
        ]
    },
    {
        "id": "116b04c56cd8c0f3",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "44f6c6cb5b54549c",
        "name": "Ubi Format",
        "func": "p = JSON.parse(msg.payload);\n\nif (msg.payload.includes (\"accelerationY\"))\n{\n   var vs2 = \"AccelerationY\";\n   msg.payload = {[vs2]: p.v};\n   return msg;\n}\nelse\n{\n   return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 871.428581237793,
        "y": 280,
        "wires": [
            [
                "e3bd7c3c813b8a93"
            ]
        ]
    },
    {
        "id": "5905896cf1ab15a5",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "44f6c6cb5b54549c",
        "name": "Ubi Format",
        "func": "p = JSON.parse(msg.payload);\n\nif (msg.payload.includes (\"accelerationZ\"))\n{\n   var vs2 = \"AccelerationZ\";\n   msg.payload = {[vs2]: p.v};\n   return msg;\n}\nelse\n{\n   return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 871.428581237793,
        "y": 320,
        "wires": [
            [
                "e3bd7c3c813b8a93"
            ]
        ]
    },
    {
        "id": "6552f34d8aad4abf",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "44f6c6cb5b54549c",
        "name": "Ubi Format",
        "func": "p = JSON.parse(msg.payload);\n\nif (msg.payload.includes (\"latitude\"))\n{\n   var vs2 = \"Latitude\";\n   msg.payload = {[vs2]: p.v};\n   return msg;\n}\nelse\n{\n   return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 871.428581237793,
        "y": 360,
        "wires": [
            [
                "e3bd7c3c813b8a93"
            ]
        ]
    },
    {
        "id": "c7a4d10dad5b761b",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "44f6c6cb5b54549c",
        "name": "Ubi Format",
        "func": "p = JSON.parse(msg.payload);\n\nif (msg.payload.includes (\"longitude\"))\n{\n   var vs = \"Longitude\";\n   msg.payload = {[vs]: p.v};\n   return msg;\n}\nelse\n{\n   return;\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 871.428581237793,
        "y": 400,
        "wires": [
            [
                "e3bd7c3c813b8a93"
            ]
        ]
    },
    {
        "id": "f9f678aab366ede3",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "g": "44f6c6cb5b54549c",
        "name": "Ubi Format",
        "func": "//p = msg.payload;\n\n\n//return msg;\np = JSON.parse(msg.payload);\nif (msg.payload.includes (\"\"))\n{\n   var vs = \"\";\n   msg.payload = {[vs]: p};\n   return msg;\n}\nelse\n{\n   return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 871.428581237793,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "21c718ddfed03c1a",
        "type": "comment",
        "z": "e59d719bcd361ba8",
        "g": "44f6c6cb5b54549c",
        "name": "Ubidots Convertion",
        "info": "",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "11e5debda79b5e67",
        "type": "comment",
        "z": "e59d719bcd361ba8",
        "g": "cf2bc87553d19cde",
        "name": "Additional Ubidots Options",
        "info": "",
        "x": 1270,
        "y": 540,
        "wires": []
    }
]
