src/projects/example-projectname/flows.json
[
    {
        "id": "edb4d97bb9a39362",
        "type": "http in",
        "z": "e59d719bcd361ba8",
        "name": "KPN ",
        "url": "/kpn",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "6f18cd3b7b7806fe",
                "739c99fb91080fc6"
            ]
        ]
    },
    {
        "id": "6f18cd3b7b7806fe",
        "type": "http response",
        "z": "e59d719bcd361ba8",
        "name": "in",
        "statusCode": "200",
        "headers": {},
        "x": 310,
        "y": 220,
        "wires": []
    },
    {
        "id": "b4a3bb670cc25776",
        "type": "debug",
        "z": "e59d719bcd361ba8",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "d912389d1187fe36",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "name": "Convert STR",
        "func": "var test = msg.payload;\n\nmsg.payload = JSON.stringify(test);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "cad975c17788c5e8",
                "4b57a9d36892f78d"
            ]
        ]
    },
    {
        "id": "739c99fb91080fc6",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "name": "Seperate",
        "func": "p = msg.payload;\n\nmsg.payload = p[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "d912389d1187fe36"
            ]
        ]
    },
    {
        "id": "bc30612841c6c00b",
        "type": "inject",
        "z": "e59d719bcd361ba8",
        "name": "Function Test Green",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"bn\":\"urn:dev:DEVEUI:A8610A343125910B:\",\"bt\":1649769999,\"n\":\"temperature\",\"u\":\"Cel\",\"v\":30.42}]",
        "payloadType": "json",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "739c99fb91080fc6"
            ]
        ]
    },
    {
        "id": "cad975c17788c5e8",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "name": "Obtain Value",
        "func": "p = JSON.parse(msg.payload);\n\nif (msg.payload.includes (\"urn:dev:DEVEUI:A8610A343125910B:\"&&\"temp\"))\n{\n   msg.payload = (p.v);\n   //msg.payload = Number(p); \n   return msg;\n}\nelse\n{\n   return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 260,
        "wires": [
            [
                "0e741299a3d466de",
                "b4a3bb670cc25776",
                "ebf96d0b13c36380"
            ]
        ]
    },
    {
        "id": "ebf96d0b13c36380",
        "type": "ThingspeakSendSimple",
        "z": "e59d719bcd361ba8",
        "name": "https://thingspeak.com",
        "writekey": "thingspeak-writekey-here",
        "fieldid": "2",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "02d5937158ecdbd6",
        "type": "inject",
        "z": "e59d719bcd361ba8",
        "name": "Function Test Red",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"bn\":\"urn:dev:DEVEUI:A8610A343125910B:\",\"bt\":1650356477},{\"n\":\"locOrigin\",\"vs\":\"KPNLORA\"},{\"n\":\"latitude\",\"u\":\"lat\",\"v\":51.917973},{\"n\":\"longitude\",\"u\":\"lon\",\"v\":4.432413},{\"n\":\"radius\",\"u\":\"m\",\"v\":1803.45459},{\"n\":\"locAccuracy\",\"u\":\"%\",\"v\":9999},{\"n\":\"locPrecision\",\"u\":\"%\",\"v\":9999},{\"n\":\"locTime\",\"vs\":\"1650356603369\"}]",
        "payloadType": "json",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "739c99fb91080fc6"
            ]
        ]
    },
    {
        "id": "0e741299a3d466de",
        "type": "file",
        "z": "e59d719bcd361ba8",
        "name": "",
        "filename": "\\home\\nodered\\.node-red\\log.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 910,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4b57a9d36892f78d",
        "type": "function",
        "z": "e59d719bcd361ba8",
        "name": "Ubi Format",
        "func": "//p = msg.payload;\n\n\n//return msg;\np = JSON.parse(msg.payload);\nif (msg.payload.includes (\"urn:dev:DEVEUI:A8610A343125910B:\"&&\"temp\"))\n{\n   var t = \"light today\";\n   msg.payload = {[t]: + p.v};\n   return msg;\n}\nelse\n{\n   return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 400,
        "wires": [
            [
                "70fdae55af665c12",
                "a8f222b2457f167c"
            ]
        ]
    },
    {
        "id": "a8f222b2457f167c",
        "type": "ubidots_out",
        "z": "e59d719bcd361ba8",
        "name": "Test",
        "token": "ubidots-token-here",
        "label_device": "raspberry-pi",
        "device_label": "UbiTest",
        "tier": "business",
        "tls_checkbox": true,
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "70fdae55af665c12",
        "type": "debug",
        "z": "e59d719bcd361ba8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 360,
        "wires": []
    }
]
